$time-width: 150px;
$margin: .8rem;
$brand_primary:                     #3C6385;

$nav_height:                        2.4rem;
$nav_background:                    $brand_primary;
$nav_icon_font_size:                1rem;
$nav_title_font_size:               1rem;

$fs6:                               .6rem;
$fs7:                               .7rem;
$fs8:                               .8rem;